*.obj
*.o
*.so
*.dll
*.a
*.exe
a.out
*~
*.mod

/MRFFL/doxygen/autodocs/
/MRFFL/doxygen/DTAGS
/MRFFL/build

/cashflows/cashflow_vs_tvm_solver

/loans/loan_level_payments
/loans/loan_geometric_payments
/loans/loan_up_down_payments

/monte_carlo/inflation
/monte_carlo/stocks
/monte_carlo/inflation.txt
/monte_carlo/stocks.txt 
/monte_carlo/blend_risk.txt
/monte_carlo/*.png

/MRFFL/functional_tests/test_markets
/MRFFL/functional_tests/test_stats
/MRFFL/functional_tests/ftest_stats_bmark
/MRFFL/functional_tests/ftest_life_table_print_*.txt
/MRFFL/functional_tests/ftest_stats_rand_norm_std.txt
/MRFFL/functional_tests/ftest_stats_rand_log_norm.txt
/MRFFL/functional_tests/ftest_stats_rand_norm203.txt

/MRFFL/unit_tests/test_percentages
/MRFFL/unit_tests/test_tvm_lump_sum_solve
/MRFFL/unit_tests/test_inflation
/MRFFL/unit_tests/test_tvm_delayed_geometric_annuity_solve
/MRFFL/unit_tests/test_tvm_delayed_lump_sum_solve
/MRFFL/unit_tests/test_tvm_cashflows
/MRFFL/unit_tests/test_tvm_delayed_arithmetic_annuity_solve
/MRFFL/unit_tests/test_taxes
/MRFFL/unit_tests/test_tvm12
/MRFFL/unit_tests/test_tvm_delayed_level_annuity_solve
/MRFFL/unit_tests/*.test

/retirement/retire_cashflow
/retirement/roth_conversion

/retirement_simulation/retire
/retirement_simulation/retire.out
/retirement_simulation/config.nml
/retirement_simulation/*.png


