*.obj
*.o
*.so
*.dll
*.a
*.exe
a.out
*~
*.mod
/MRFFL/autodocs/
/MRFFL/DTAGS

/cashflows/cashflow_vs_tvm_solver

/loans/loan_level_payments
/loans/loan_geometric_payments
/loans/loan_up_down_payments

/monte_carlo/inflation
/monte_carlo/stocks
/monte_carlo/inflation.txt
/monte_carlo/stocks.txt 
/monte_carlo/blend_risk.txt
/monte_carlo/*.png

/MRFFL_functional_tests/test_markets
/MRFFL_functional_tests/test_stats
/MRFFL_functional_tests/test_life_table_print_*.txt
/MRFFL_functional_tests/test_stats_rand_norm_std.txt

/MRFFL_unit_tests/test_percentages
/MRFFL_unit_tests/test_tvm_lump_sum_solve
/MRFFL_unit_tests/test_inflation
/MRFFL_unit_tests/test_tvm_delayed_geometric_annuity_solve
/MRFFL_unit_tests/test_tvm_delayed_lump_sum_solve
/MRFFL_unit_tests/test_tvm_cashflows
/MRFFL_unit_tests/test_tvm_delayed_arithmetic_annuity_solve
/MRFFL_unit_tests/test_taxes
/MRFFL_unit_tests/test_tvm12
/MRFFL_unit_tests/test_tvm_delayed_level_annuity_solve
/MRFFL_unit_tests/*.test

/retirement/retire_cashflow
/retirement/roth_conversion

/retirement_simulation/retire
/retirement_simulation/retire.out
/retirement_simulation/config.nml
/retirement_simulation/*.png


