*.obj
*.o
*.so
*.dll
*.a
*.exe
a.out
*~
*.mod

/MRFFL/doxygen/autodocs/
/MRFFL/doxygen/DTAGS
/MRFFL/build

/cashflows/cashflow_vs_tvm_solver

/loans/loan_level_payments
/loans/loan_geometric_payments
/loans/loan_up_down_payments

/monte_carlo/blend_risk
/monte_carlo/blend_risk.png
/monte_carlo/blend_risk.txt
/monte_carlo/inflation
/monte_carlo/inflation.png
/monte_carlo/inflation.txt
/monte_carlo/stocks
/monte_carlo/stocks.txt
/monte_carlo/stocks_paths.png
/monte_carlo/stocks_ranges.png
/monte_carlo/blend_risk_cvuc.png

/MRFFL/functional_tests/ftest_life_table_print
/MRFFL/functional_tests/ftest_life_table_print_cdc_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_cdc_qx.txt
/MRFFL/functional_tests/ftest_life_table_print_cdc_qxlx_dat.txt
/MRFFL/functional_tests/ftest_life_table_print_cdc_w_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_cdc_wf_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_cdc_wm_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_usss_f_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_usss_f_qx.txt
/MRFFL/functional_tests/ftest_life_table_print_usss_m_lx.txt
/MRFFL/functional_tests/ftest_life_table_print_usss_m_qx.txt
/MRFFL/functional_tests/ftest_markets
/MRFFL/functional_tests/ftest_random_walk.txt
/MRFFL/functional_tests/ftest_random_walk
/MRFFL/functional_tests/ftest_stats
/MRFFL/functional_tests/ftest_stats_bmark
/MRFFL/functional_tests/ftest_stats_rand_log_norm.txt
/MRFFL/functional_tests/ftest_stats_rand_norm203.txt
/MRFFL/functional_tests/ftest_stats_rand_norm_std.txt

/MRFFL/unit_tests/utest_inflation
/MRFFL/unit_tests/utest_inflation.test
/MRFFL/unit_tests/utest_life_table
/MRFFL/unit_tests/utest_life_table.test
/MRFFL/unit_tests/utest_life_table_print
/MRFFL/unit_tests/utest_life_table_print.test
/MRFFL/unit_tests/utest_percentages
/MRFFL/unit_tests/utest_percentages.test
/MRFFL/unit_tests/utest_stats_probit
/MRFFL/unit_tests/utest_stats_probit.test
/MRFFL/unit_tests/utest_taxes
/MRFFL/unit_tests/utest_taxes.test
/MRFFL/unit_tests/utest_tvm12
/MRFFL/unit_tests/utest_tvm12.test
/MRFFL/unit_tests/utest_tvm_cashflows
/MRFFL/unit_tests/utest_tvm_cashflows.test
/MRFFL/unit_tests/utest_tvm_delayed_arithmetic_annuity_solve
/MRFFL/unit_tests/utest_tvm_delayed_arithmetic_annuity_solve.test
/MRFFL/unit_tests/utest_tvm_delayed_geometric_annuity_solve
/MRFFL/unit_tests/utest_tvm_delayed_geometric_annuity_solve.test
/MRFFL/unit_tests/utest_tvm_delayed_level_annuity_solve
/MRFFL/unit_tests/utest_tvm_delayed_level_annuity_solve.test
/MRFFL/unit_tests/utest_tvm_delayed_lump_sum_solve
/MRFFL/unit_tests/utest_tvm_delayed_lump_sum_solve.test
/MRFFL/unit_tests/utest_tvm_lump_sum_solve
/MRFFL/unit_tests/utest_tvm_lump_sum_solve.test

/retirement/retire_cashflow
/retirement/roth_conversion

/retirement_simulation/retire
/retirement_simulation/retire.out
/retirement_simulation/config.nml
/retirement_simulation/*.png
